@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navlink {
    @apply before:content-[''] before:absolute before:right-[-20px] before:bottom-0 before:w-0 before:h-0 before:border-l-[20px] before:border-t-[22px] before:border-t-transparent before:border-b-[22px] before:border-b-transparent before:z-[1];
  }
}

option {
  font-weight: 600;
  font-size: 15px;
}
/* Pill */
.badge {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-size: 85%;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.358rem;
}
.rounded-pill {
  border-radius: 50rem;
}
.badge.badge-light-primary {
  background-color: #e0f2fe;
  color: #0284c7;
}
.badge.badge-light-warning {
  background-color: #ffedd5;
  color: #ea580c;
}
.badge.badge-light-danger {
  background-color: #fee2e2;
  color: #dc2626;
}
/* react-datepicker */
.react-datepicker {
  border: transparent !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: cursive !important;
  font-size: 15px;
  font-weight: 600;
}
.react-datepicker__month-select,
.react-datepicker__year-select {
  margin: 5px !important;
  padding: 5px !important;
}
.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 0 !important;
}
.react-datepicker-popper[data-placement^="top"] {
  padding-bottom: 0 !important;
}
.react-datepicker__header {
  border-bottom: 0 !important;
}
.react-datepicker-year-header {
  background-color: #f1f5f9 !important;
  padding: 15px 0 !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 1.3rem !important;
}
.react-datepicker__year .react-datepicker__year-text {
  padding: 5px;
  border-radius: 1.3rem !important;
}
.react-datepicker__day--keyboard-selected {
  border-radius: 1.3rem !important;
}
.react-datepicker__day:hover {
  border-radius: 1.3rem !important;
}
.react-datepicker__year-text--selected {
  background-color: #0284c7 !important;
  color: #fff !important;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 2.3rem !important;
  line-height: 2.3rem !important;
  margin: 0.3rem !important;
}
.react-datepicker__navigation-icon--previous {
  top: 5px !important;
}
.react-datepicker__navigation-icon--next {
  top: 5px !important;
}
.react-datepicker__year-wrapper {
  justify-content: space-around;
}
